<div style="margin-bottom :120px" class="row" id="__next">
    <div class="Home_container__bCOhY">
   
      <div class="headline-wrapper container">
        <h2>Select Blocks for your advertisement</h2>
      </div>
      <div style="overflow: hidden" class="grid-list-wrapper d-block">
        <table cellPadding="0" cellSpacing="0" class="w-100">
          <tbody style="overflow: hidden">
            <tr *ngFor="let i of rows ; let in =index">
            
                <td (click)="selectBlock(in,jn)" *ngFor="let j of cols ;let jn =index" [class]="'box-95' + (mat[in][jn] === 1 ? ' active': '') "> </td>
            </tr>
            
            
            
          </tbody>
        </table>
      </div>
   
    </div>
  </div>
  <div class="row">
    <br/>
  <div class="stepper-wrapper container"><button class="next_btn" (click)="goToCheckout()" type="button" [disabled]="count<=0">NEXT</button></div>
</div>