<div class="wrapper">


    <div 
    infiniteScroll
    [scrollWindow]="true"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="getLeadsNextPage()"
    style="overflow: auto"
    class="grid-section">
   
  
          <div class="wrapper">
            <table>
              <!-- <col width=100 ><col width=100><col width=100><col width=100 ><col width=100><col width=100> -->
                <tbody >
               
                    <tr *ngFor="let row of allArr;let i=index">
                      <td *ngFor="let col of allArr[i];let j=index" [colSpan]="allArr[i][j].wBlocks"  [rowSpan]="allArr[i][j].hBlocks" class="box-95">
                          <img  style="display:block;" width="100%" height="100%"  *ngIf="allArr[i][j].wBlocks > 0 && allArr[i][j]?.img" class="inner-box" [src]="allArr[i][j]?.img"/>
                      </td>
                     
                  </tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  
                  <tr>
                  
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                    <td class="box-95"> </td>
                  
                </tr> 
               
                </tbody>
            </table>
        
        </div>
        
        <br/>
        <div class="d-flex justify-content-center" *ngIf="loading">
           
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
    </div>
</div>