<div class="wrapper">


    <div 
    infiniteScroll
    [scrollWindow]="true"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="getLeadsNextPage()"
    style="overflow: auto"
    class="grid-section">
   
        <div  *ngFor="row of rows;let i=index"  [class]="'row row-' + i">
            <div class="box">
            </div>
            <div class="box">
            </div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
           
             
        </div>
        
        <br/>
        <div class="d-flex justify-content-center" *ngIf="loading">
           
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
    </div>
</div>