* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  background: #e8e3df;
}

.nav {
  /* height: 50px; */
  background: black;
}

.wrapper {
  background-image: radial-gradient(circle, #fdfcfc 3%, #e8e3df 60%);
}

table {
  margin-top: 20px;
}

tr {
}

td {
  border: 1px solid #d7ccc6;
  height: 4.4vw;
  width: 4.4vw;
}
table {
  border-collapse: separate !important;
  text-indent: initial;
  border-spacing: 2px !important;
}
